/* Style cho tiêu đề */
h2 {
    color: #333;
    text-align: center;
}

/* Style cho input */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
    border-color: #606060;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
}

div {
    position: relative;
}

label {
    position: absolute;
    left: 10px;
    top: 12px;
    padding: 0px 4px;
    transition: all 0.5 ease;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    box-shadow: inset;
    transition: 0.2s ease;
}

input:not([value=""]) ~ label,
textarea:not(:empty) ~ label,
input:focus ~ label,
textarea:focus ~ label {
    transition: 0.2s ease;
    top: -2px;
    font-size: 13px;
}



/* Style cho nút */
button {
    background-color: #aa5b16;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #aa5b16;
    box-shadow:0px 0px 5px #aa5b16;
}

.newProduct-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 130px;
}

.newProduct-img {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.5s all ease;
    transform-origin: center top;
}

.newProduct-img:hover,
.newProduct-img-container:hover .btnDelete:hover + .newProduct-img {
    width: 120px;
    height: 120px;
    z-index: 10;
    transition: 0.5s all ease;
}

.btnDelete {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 0px 8px 8px 8px;
    background-color: #00000000;
    cursor: pointer;
    z-index: 20;
}

.btnDelete:hover {
    background-color: #00000000;
    box-shadow: none;
}

/* Style cho danh sách sản phẩm */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.img-container{
    display: flex;
    height: 200px;
    gap: 15px;
}
.img-container > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border-radius: 12px;
    transition: all 0.5s ease;
}
.img-container> img:hover{
    width: 175px;
    height: 175px;
}