/* styles.css */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    color: white;
    background-color: #864912;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #864912;
}
